/**{
   outline: 1px solid red !important;
}*/
.container {
    margin-top:3%;
    width:80%;
 }
body {
    font-family: 'Lato', sans-serif;
 }

h1 {
    font-size: 44px;
 }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 36px;
    }
  }

.logo {
   width: 100px;
   height: auto;
}
.name, .title {
    color: #2d3c49;
    margin-right: auto;
    margin-left:auto;
    font-weight: 400;
    margin-top:0px;
 }

.bodyimage {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
 }

/* This is to ensure that the center image is the most prominent image even on small devices
*/
 @media screen and (max-width: 600px) {
  .bodyimage {
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 990px) {
  .work {
    text-align:center;
   }
}

.work {
    color: #7d97ad;
    margin-top: 40px;
    margin-bottom:20px;
 }

.imageproj {
    height:200px;
    width:100%;
 }

/* This is to ensure that images do not get too stretched in medium resolution
*/
@media screen and (max-width: 990px) and (min-width:400px) {
  .imageproj {
    height:200px;
    width:70%;
    margin-left:auto;
    margin-right:auto;
  }
}

 .project {
    color: #2d3c49;
    text-align: center;
    font-weight: 400;
  }
  .git1, p {
    text-align: center;
    color: #2d3c49 ;
   }
